[role="banner"],
/*[data-testid="home-page"] section.a8b052ab945f8d056679d7f3ff013e05-scss:nth-child(2),*/
[aria-label="Upgrade to Premium"],
[href="https://www.spotify.com/premium/"],
/*
    [aria-label="Good morning"],
    [aria-label="Good evening"],
    [aria-label="Good afternoon"],
    */
[aria-label="New episodes"],
[aria-label="Comedy hour"],
[aria-label="Get inspired"],
[aria-label="Soundtrack your home"],
[aria-label="Your top shows"],
[aria-label="Stimulate your mind"],
[aria-label="Find an edge"],
[aria-label="The Best of 2020"],
[aria-label="The Top Tracks & Artists of 2020"],
[aria-label="The Top Podcasts of 2020"],
[aria-label="A Look Back at 2020"],
[aria-label="Salut, România! Ascultă noile playlisturi locale."],
[aria-label="Happy"],
[aria-label="Sad"],
[aria-label="Chill"],
[aria-label="See beyond the headlines"],
[aria-label="Shows you might like"] {
    display: none !important;
}
